<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <assignedNode>nanaimo</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <triggers class="vector"/>
  <builders>
    <hudson.tasks.BatchFile>
      <command>rm -rf qaauto*
wget &quot;http://hudson.corp.slide.com/view/WM All/job/Push Monkey/ws/bt/qaauto//*zip*/qaauto.zip&quot;
unzip qaauto.zip</command>
    </hudson.tasks.BatchFile>
    <org.jvnet.hudson.plugins.MozmillBuilder>
      <tests>qaauto\mozmill\spp\myspace\test_pets_creation</tests>
      <wrapper>python c:\Python25\Scripts\mozmill_junit.py</wrapper>
      <logfile>mozmill_output.log</logfile>
      <showall>true</showall>
      <showerrors>false</showerrors>
      <port></port>
    </org.jvnet.hudson.plugins.MozmillBuilder>
  </builders>
  <publishers>
    <hudson.tasks.junit.JUnitResultArchiver>
      <testResults>mozmill_output.log</testResults>
    </hudson.tasks.junit.JUnitResultArchiver>
  </publishers>
  <buildWrappers/>
</project>